@import "../../global.css";

.profile-background{
    background-size: 100%;
    background-position-x: center;
    height: 100%;
    width: 100%;
}

.profile{
    height: 27.5%;
    width: 64%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card{
  position: relative;
  margin: relative;
  height: 200px;
  width: 90%;
  flex-direction: row;
  border: 1px solid #BEBEBE;

}

.cardContainer{
  margin: auto;
  padding-top: 150px;
}

.backimage{
  width: 20%;
  border: 0.75px solid #BEBEBE;
}
