@import "../../global.css";

.profile-background{
    background-size: 100%;
    background-position-x: center;
    height: 200%;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-image: url('../../images/pexels-damir-mijailovic-5507510.jpg');
}

/* .profile{
    height: 27.5%;
    width: 64%;
    display: flex;
    align-items: center;
    justify-content: center;
} */


.card{
  height: 230px !important;
  width: 90% !important;
  flex-direction: row !important;
  opacity: 0.79 !important;
  border-radius: 25px !important;


}

.cardContainer{
  margin: auto;
  padding-top:150px;
}

.backimage{
  width: 190px;
  height: 229px;
  border-radius: 25px !important;
}
