@import "../../global.css";

.profile-background{
    background-size: 100%;
    background-position-x: center;
    height: 200%;
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-image: url('../../images/pexels-damir-mijailovic-5507510.jpg');
}


.profile{
    height: 27.5%;
    width: 64%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ccard{
  height: 400px !important;
  width: 500px !important;;
  opacity: 0.79 !important;
  border-radius: 25px !important;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 25px !important;
}

.cardContainer{

}

.backimage{
  height: 200px !important;
  width: 200px !important;
  border-radius: 25px !important;
  position: relative;
}

.card-body{
  align-items: center;
  justify-content: center;
}
