@import "../../global.css";

.hero-banner{

}

.cardContainer{

}

.info-card{
  height: 250px;
  width: auto;
  background-color: rgb(256,256,256,0.75);
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.image-logo{
  height: 70px;
  width: 70px;
  margin-top: 10px;
}

.leaf-logo{
  height: 250px;
  filter: opacity(0.5) drop-shadow(0 0 0 turquoise);
}

.add-button{
  bottom: 0px;
  position: fixed;
  left: 50%;
  transform: translateX(-65%);
}
