@import "../../global.css";

.form-card{
  height: auto !important;
  width: auto !important;
  background: rgba(255,255,255, 0.9);
}

.submit-button{
  background-color: turquoise !important;
}

.custom-form{
  width: inherit !important;
}

.width-custom {
  width: inherit !important;
}

.width-fixed{
  width: 150px !important;
}

.margin-custom{
  margin-left: 60px !important;
  border: 0.0625rem solid #D3D3D3 !important;
}

.margin-c1{
  margin-left: 72px !important;
  border: 0.0625rem solid #D3D3D3 !important;
}

.margin-c2{
  margin-left: 115px !important;
  border: 0.0625rem solid #D3D3D3 !important;
}

.margin-c3{
  margin-left: 130px !important;
  border: 0.0625rem solid #D3D3D3 !important;
}

.desc{
  height: 200px;
}

/* input[type='number'] {
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  border: 0.0625rem solid #14171a;
  border-radius: 0.25rem;
  background: #fff;
  color: #14171a;
  position: relative;
} */

body {
  font-size: 100%;
  padding: 0;
  margin: 0;
}
