@import 'bootstrap/dist/css/bootstrap.css';

:root{
    --BackgroundCovered: #3bedb7;
    --BackgroundUncovered: white;
    --BackgroundMasked: #E9E9E9;

    --MessageColorCovered: #4f4f50;
    --MessageColorUncovered: black;
    --MessageColorFooter: #fa7233;

    --HighlightColor: black;
    --KeyMessageColor: #ff2233;
    --TopbarColor: #61dafb;

    --ApprovedColor: #55EEAA;
    --InvalidColor: #EAEA67;
    --RejectedColor: #EF7788;
}

a:link { text-decoration: none; color: black;}


a:visited { text-decoration: none; color: black;}


a:hover { text-decoration: none; color: white;}


a:active { text-decoration: none; color: black; }


.login-logo{

}
.navbar.navbar-inverse {
  border: none;
}
.navbar .navbar-brand {
  padding-top: 0px;
}

.global-message{
    color: var(--KeyMessageColor);
}

.global-link{
    color: black;
}

.global-btn{
    font-size: 20px;
    background-color: black;
}

.global-footer{
    text-align: bottom;
    font-size: 10px;
    color: var(--MessageColorFooter);
}

.global-toolbar{
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
    color: var(--MessageColorUncovered);
}
.navBarBackground{
  background-color: rgba(256, 256, 256, 0.6);
  width: 105%;
}

.meta-logo{
  opacity: 0.7;
  height: 50px;
}

.brand-logo{
  height:30px !important;
}

@media (prefers-reduced-motion: no-preference) {
    .brand-logo {
      animation: login-logo-spin infinite 8s linear;
    }
}

/* @keyframes login-logo-spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
} */

.container4 {
    position: relative;
}
.container{
    display: flex;
    justify-content: center;
}


.fill-button{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
.btn {
    border: 3px solid rgb(256,256,256,0.1);
    color: black;
    background-color: rgb(256,256,256,0.7);
}
.btn:hover {
    color: black;
}
.btn::after {
    content: '';
    position: relative;
    z-index: -1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
}
.btn:hover:after, .btn:active:after {
    width: 100%;
    color:grey;
}
.card-title{
    color: #070707;
}
.stats{
    color: lightskyblue;
}
.text-green-600{
    color: lightskyblue;
}
