@import 'bootstrap/dist/css/bootstrap.css';

:root{
    --BackgroundCovered: #282c34;
    --BackgroundUncovered: white;
    --BackgroundMasked: #E9E9E9;

    --MessageColorCovered: white;
    --MessageColorUncovered: black;
    --MessageColorFooter: #fa7233;

    --HighlightColor: yellow;
    --KeyMessageColor: #ff2233;
    --TopbarColor: #61dafb;

    --ApprovedColor: #55EEAA;
    --InvalidColor: #EAEA67;
    --RejectedColor: #EF7788;
}

a:link { text-decoration: none; color: #61DBFB;}


a:visited { text-decoration: none; color: #61DBFB;}


a:hover { text-decoration: none; color: #61DBFB;}


a:active { text-decoration: none; color: #61DBFB; }


.login-logo{

}
.navbar.navbar-inverse {
  border: none;
}
.navbar .navbar-brand {
  padding-top: 0px;
}
.navbar .navbar-brand img {
  height: 50px;
}

.global-message{
    color: var(--KeyMessageColor);
}

.global-link{
    color: #61dafb;
}

.global-btn{
    font-size: 20px;
    background-color: #61dafb;
}

.global-footer{
    text-align: bottom;
    font-size: 10px;
    color: var(--MessageColorFooter);
}

.global-toolbar{
    font-size: 20px;
    text-align: center;
    padding-top: 40px;
    color: var(--MessageColorUncovered);
}
