@import "../../global.css";

.basic{

}
.carousel{
    background-color: var(--BackgroundCovered);
    width: 100%;
    height: 100vh;
}

.home-logo{
    height: 20vmin;
    pointer-events: none;
}

.carousel-item{
    width: 100%;
    height: 90vh;
    position: relative;
}

.card{
   width: 800px;
   height: 600px;
   margin: auto;
   top: 50%;
   transform: translate(0%, -50%);
}

.image{
  width: 50%;
  height: 50%;
}


button {
  font-size: 1.2rem !important;
  padding: 0.625rem 1.25rem !important;
  margin-bottom: 1rem !important;
  border-radius: 1.25rem !important;
  transition: 0.4s !important;
}

input[type='number'] {
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  border: 0.0625rem solid #14171a;
  border-radius: 0.25rem;
  background: #fff;
  color: #14171a;
  position: relative;
  margin-right: 40px;
}

body {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

label {
  margin: 0 1rem 0 0.25rem;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
	}
	ul#horizontal-list li {
    display: inline;
	}
.HomePageBackground{
  background-image: url('../../images/pexels-damir-mijailovic-5507510.jpg');
  height: 100vh;
}
